@import "toolkit";

.subscript {font-size: 10px; }

.weather {
  position: relative;
  overflow: hidden;
  padding: 35px 0 0;
  min-height: 200px;
}
.content {
  position: relative;
  z-index: 2;
  font-size: 1.5em;
}

img {
  position: absolute;
  right: -20px;
  top: -20px;
  width: 250px;
  height: auto;
  opacity: 0.3;
}

// vendor overrides
.buttonGroup {
  display: flex;
  div { flex: 1;
    button {
      text-align: left;
      width: 100%;
    }
    ul { width: 100%; }
  }
  button { flex: 0; }
}
